<hr/>

<div class="container-fluid">
        <div class="flex-fill child1">
              <h6>Download App
              <img src="https://www.zee5.com/images/play_store.png?ver=2.50.45">&nbsp;
              <img src="https://www.zee5.com/images/app_store.png?ver=2.50.45">  </h6>
        </div>
        <div class="flex-fill child2">
             <h6>Connected with us
                 <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
                 <i class="fa fa-instagram fa-lg" aria-hidden="true"></i> 
                 <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                 <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
             </h6>
        </div>
</div>
<div class="container-fluid1">
       <a href="#">About Us</a> |
       <a href="#">help Center</a> |
       <a href="#">Privacy Policy</a> |
       <a href="#">Terms of use</a> 
</div>

<div class="container-fluid2">
    <div class="flex-fill child3">
        <h6>zee5 original</h6>
        <a href="#">Barrish</a><br>
        <a href="#">Stage of siege: 26/11</a><br>
        <a href="#">MentalHood</a><br>
        <a href="#">RangBaaz</a><br>

    </div>
    <div class="flex-fill child3">
        <h6>Movies by language</h6>
        <a href="#">Marathi Movies</a><br>
        <a href="#">Telgu Movies</a><br>
        <a href="#">Hindhi Movies</a><br>
        <a href="#">Tamil Movies</a><br>
        <a href="#">English Movies</a><br>
    </div>
    <div class="flex-fill child3">
        <h6>Zee channels</h6>
        <a href="#">Zee Tv HD</a><br>
        <a href="#">Zee news</a><br>
        <a href="#">&Tv HD</a><br>
        <a href="#">Zee marathi HD</a><br>
        <a href="#">&Prive Tv HD</a><br>
    </div>
    <div class="flex-fill child3">
        <h6>Zee Premium Movies</h6>
        <a href="#">Ateet</a><br>
        <a href="#">Commando 3</a><br>
        <a href="#">The Accidental Prime minister</a><br>
        <a href="#">Simbha</a><br>
        <a href="#">Uri: The Surgical Strike</a><br>
    </div>
    <div class="flex-fill child3">
        <h6>Tv shows</h6>
        <a href="#">Kumkum bhagya</a><br>
        <a href="#">Devmanus</a><br>
        <a href="#">Tujese hey rabta</a><br>
        <a href="#">pvitra rishta</a><br>
        <a href="#">Honar Sun mi ya gharchi</a><br>
    </div>
    <div class="flex-fill child3">
        <h6>News</h6>
        <a href="#">Coronavirus vaccine update</a><br>
        <a href="#">Delhi chalo farmers agitation</a><br>
        <a href="#">Top Headings of the day</a><br>
        <a href="#">Ek desh Ek Naara</a><br>
        <a href="#">15th August update</a><br>
    </div>
</div>

<div class="container-fluid4">
    <p>Best viewed on Google Chrome 80+, Microsoft Edge 81+, Mozilla Firefox 75+, Safari 5.1.5+<br>
        Copyright © 2021 Zee Entertainment Enterprises Ltd. All rights reserved.</p>
    </div>
