
<div class="container-fluid">
      <div class="child1 flex-fill">
            <a href="#"><img src="https://www.exchange4media.com/news-photo/100664-Zee5logo.jpg"></a>
            <a href="#" active>Home</a>
            <a href="#">Tv Shows</a>
            <a href="#">Movies</a>
            <a href="#">Web Series</a>
            <a href="#">News</a>
            <a href="#">Premium</a>
            <a href="#">Live Tv</a>
            <a href="#">ZeePLEX</a>
            <a href="#">More</a>
      </div>
      <div class="child2 flex-fill">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            <button class="btn btn-light btn-md" style="border-radius:50%;margin-left: 10px;">My Profile</button>
      </div>
</div>