<div class="container-fluid2">
    <div class="childA">
      <h5 style="color: whitesmoke;font-size: medium;margin: 5px;">Top Hindhi Movies </h5>
    </div>
    <div class="childB">
        <button class="btn btn-primary btn-sm" style="margin-left: 693px;">See All</button>
      </div>
</div>
<div class="container-fluid1">
        <div class="flex-fill child1" id="hw">
          <div class="content">
               <h5>FLYING JATT</h5>
          </div>
        </div>
        <div class="flex-fill child2" id="hw">
          <div class="content">
            <h5>ROBOT 2.0</h5>
       </div>
        </div>
        <div class="flex-fill child3" id="hw">
          <div class="content">
            <h5>DON</h5>
         </div>
        </div>
        <div class="flex-fill child4" id="hw">
          <div class="content">
            <h5>Babu</h5>
       </div>
        </div>
        <div class="flex-fill child5" id="hw">
          <div class="content">
            <h5>Surkhathal</h5>
       </div>
        </div>
        <div class="flex-fill child6" id="hw">
          <div class="content">
            <h5>Ra-One</h5>
       </div>
        </div>
       
</div>
