<div class="container-fluid2">
    <div class="child1">
      <h5 style="color: whitesmoke;font-size: medium;margin: 5px;">Top Marathi Serials | Zee5 </h5>
    </div>
    <div class="child2">
        <button class="btn btn-primary btn-sm">See All</button>
      </div>
</div>

<div class="container-fluid3">
          <div class="flex-fill child3" id="hw">
            <div class="details">
              <h5>Devmanus</h5>
              <h6>E284.27 Jul</h6>
            </div>
          </div>
          <div class="flex-fill child4" id="hw">
            <div class="details">
              <h5>Aggabai Sunbai</h5>
              <h6>E114.27 Jul</h6>
            </div>
          </div>
          <div class="flex-fill child5" id="hw">
            <div class="details">
              <h5>Home Minster</h5>
              <h6>E177.27 Jul</h6>
            </div>
          </div>
          <div class="flex-fill child6" id="hw">
            <div class="details">
              <h5>Pahile Na Me Tula</h5>
              <h6>E126.27 Jul</h6>
            </div>
          </div>
          <div class="flex-fill child7" id="hw">
            <div class="details">
              <h5>Karbhari Lai Bhari</h5>
              <h6>E213.27 Jul</h6>
            </div>
          </div>
          <div class="flex-fill child8" id="hw">
            <div class="details">
              <h5>Majha Hoshil Na</h5>
              <h6>E354.26 Jul</h6>
            </div>
          </div>
</div>
