


<app-navigation-bar></app-navigation-bar>


<div class="container-fluid1">
   <div class="sliderchild">
       <div class="imagecon">
         <div class="content">
              <h4>Kumkum Bhagya</h4><br>
              <ul style="margin-left: 30px;">
                  <li>Hindhi </li> <li>Drama | Romance</li>
              </ul><br>
              <h5>Torn apart by betrayals and misunderstandings, <br>
                  star-crossed lovers Pragya and Abhi find their</h5><br> 
              <button class="btn btn-light"  id="hw">play</button>       
         </div>
       </div>
       <div class="imagecon">
        <div class="content">
          <h4>14 Phere</h4><br>
          <ul style="margin-left: 30px;">
              <li>Hindhi </li> <li>Drama | Movies </li>
          </ul><br>
          <h5>This ZEE5 Original movie centres around Sanjay and Aditi,<br> 
               two lovers who hatch a plan to get married since <br>
               they are unable to convince their conservative parents for the same.</h5><br>
               <button class="btn btn-light"  id="hw">play</button>         
        </div>      
       </div>
       <div class="imagecon">
        <div class="content">
        <h4>Sun Flower</h4><br>
        <ul style="margin-left: 30px;">
            <li>Zee5 Original </li> <li>Hindhi | Crime </li>
        </ul><br>
        <h5>When Mr. Kapoor of Sunflower society is found dead,<br> 
            the cops arrive and interrogate the neighbours.<br>
            In a society full of quirky characters,<br>
            who must have killed Kapoor and why?</h5><br>
            <button class="btn btn-light"  id="hw">play</button>         
      </div>  
       </div>
       <div class="imagecon">
        <div class="content">
          <h4>Kundali Bhagya</h4><br>
          <ul style="margin-left: 30px;">
              <li>Hindhi </li> <li>Drama | Romance </li>
          </ul><br>
          <h5>Karan marries Preeta out of spite owing to a misunderstanding.<br>
              Preeta tries to clear the air and win him over whilst dealing with<br>
              Sherlyn, Prithvi, and Mahira, a trio that becomes a thorn in her side.</h5><br>
              <button class="btn btn-light"  id="hw">play</button>         
        </div> 
       </div>
       <div class="imagecon">
        <div class="content">
          <h4>Apana Time bhi Aayega</h4><br>
          <ul style="margin-left: 30px;">
              <li>Hindhi </li> <li>Drama | Romance </li>
          </ul><br>
          <h5>The story portrays the dreams and struggles of Ramadheer,<br>
               a servant in the royal family of Jaipur, and his daughter,<br>
               Rani. Will Rani fulfil her dreams, or will she remain<br>
               a servant like her father?</h5><br>
               <button class="btn btn-light"  id="hw">play</button>          
        </div> 

       </div>
   </div>
</div>

<div class="container-fluid2">
  <div class="flex-fill">
    <h5 style="color: white;font-size: medium;padding-top: 3px;">Trending on Zee5</h5>
  </div>
</div>

<div class="container-fluid4">
  <div class="flex-fill child1" id="hw"></div>
  <div class="flex-fill child2" id="hw"></div>
  <div class="flex-fill child3" id="hw"></div>
  <div class="flex-fill child5" id="hw"></div>
  <div class="flex-fill child6" id="hw"></div>
  <div class="flex-fill child7" id="hw"></div>
  <div class="flex-fill child8" id="hw"></div>
  
</div>
<div class="container-fluid3">
  <app-marathi-serials></app-marathi-serials>
</div>
<div class="container-fluid5">
   <app-movies></app-movies>
</div>

<div class="container-fluid6">
      <app-footer></app-footer>
</div>